### 1) Prepare a classification model using Naive Bayes 
for salary data 

Data Description:

* age -- age of a person
* workclass	-- A work class is a grouping of work 
* education	-- Education of an individuals	
* maritalstatus -- Marital status of an individulas	
* occupation	 -- occupation of an individuals
* relationship -- 	
* race --  Race of an Individual
* sex --  Gender of an Individual
* capitalgain --  profit received from the sale of an investment	
* capitalloss	-- A decrease in the value of a capital asset
* hoursperweek -- number of hours work per week	
* native -- Native of an individual
* Salary -- salary of an individual

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [3]:
train_data = pd.read_csv("SalaryData_Train.csv")
test_data = pd.read_csv("SalaryData_Test.csv")

In [5]:
train_data.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [6]:
test_data.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [7]:
train_data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
test_data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [37]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  int32
 2   education      30161 non-null  int32
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  int32
 5   occupation     30161 non-null  int32
 6   relationship   30161 non-null  int32
 7   race           30161 non-null  int32
 8   sex            30161 non-null  int32
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  int32
 13  Salary         30161 non-null  object
dtypes: int32(8), int64(5), object(1)
memory usage: 2.3+ MB

In [38]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  int32
 2   education      15060 non-null  int32
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  int32
 5   occupation     15060 non-null  int32
 6   relationship   15060 non-null  int32
 7   race           15060 non-null  int32
 8   sex            15060 non-null  int32
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  int32
 13  Salary         15060 non-null  object
dtypes: int32(8), int64(5), object(1)
memory usage: 1.1+ MB

In [9]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [10]:
from sklearn import preprocessing

In [12]:
label_encoder = preprocessing.LabelEncoder()
for i in string_columns:
    train_data[i]=label_encoder.fit_transform(train_data[i])
    test_data[i] = label_encoder.fit_transform(test_data[i])
    
col_names=list(train_data.columns)
X_train=train_data[col_names[0:13]]
Y_train=train_data[col_names[13]]
x_test=test_data[col_names[0:13]]
y_test=test_data[col_names[13]]

# Naive Bayes 

###### Gaussian Naive Bayes

In [24]:
from sklearn.naive_bayes import GaussianNB
classifier_gb = GaussianNB()
classifier_gb.fit(X_train,Y_train)
train_pred_g = classifier_gb.predict(X_train)
classifier_gb.fit(x_test,y_test)
test_pred_g = classifier_gb.predict(x_test)

In [25]:
train_acc_gau=np.mean(train_pred_g== Y_train)
test_acc_gau=np.mean(test_pred_g== y_test)

In [26]:
print("train accuracy: ",train_acc_gau)

train accuracy:  0.7953317197705646

In [27]:
print("test accuracy: ",test_acc_gau)

test accuracy:  0.7942231075697211

#### Multinomial Naive Bayes

In [28]:
from sklearn.naive_bayes import MultinomialNB as MB

In [29]:
classifier_mb = MB()
classifier_mb.fit(X_train,Y_train)
train_pred_m = classifier_mb.predict(X_train)
classifier_mb.fit(x_test,y_test)
test_pred_m = classifier_mb.predict(x_test)

In [33]:
train_acc_mul = np.mean(train_pred_m == Y_train)
test_acc_mul = np.mean(test_pred_m == y_test)

In [34]:
print("train accuracy: ",train_acc_mul)

train accuracy:  0.7729186698053778

In [35]:
print("train accuracy: ",test_acc_mul)

train accuracy:  0.7749667994687915